body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e6f7ff;
  }
  
  .container {
    text-align: center;
  }
  
  .snowflakes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    background-image: url('./images/snowfall-201496_1280.jpg');
    animation: snow 10s linear infinite;
  }
  
  @keyframes snow {
    0% {
      transform: translateY(-100vh);
    }
    100% {
      transform: translateY(100vh);
    }
  }
  
  h1 {
    color: #cc0000;
  }
  
  p {
    color: #006600;
  }
  
  .tree {
    width: 100px;
    height: 150px;
    background-color: #228b22;
    border-radius: 5px;
    position: relative;
    margin: 20px auto;
  }
  
  .tree::before,
  .tree::after {
    content: '';
    position: absolute;
    background-color: #228b22;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .tree::before {
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tree::after {
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tree::before,
  .tree::after {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  }
  